{% extends "__core/index.html" %}


{% block content %}
<h1 class='text-center'>Admin panel</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <ul class="list-group">
      <li class="list-group-item ">   <a href="{{path}}admin">Category</a> </li>
        <li class="list-group-item"><a href="{{path}}admin/users">Users</a></li>
        <li class="list-group-item"><a href="{{path}}admin/auctions">Auctions</a></li>
      </ul>
  </div>

<div class="col-md-8">

  <div id="adminarea">
    <h4 class='text-center'>Category</h4>
    <div id="categoryData">
    <table  class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col" ></th>
        </tr>
      </thead>
      <tbody id="categoryTableBody">
        {% for category in categories%}
        <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{category.name}}</td>
        <td>
          <a class="btn btn-primary"  data-id="{{category.id}}" id="categoryBtnUpdate" href="#">Update</a>
        <a class="btn btn-danger" href="#" data-id="{{category.id}}" id="categoryBtnDelete" >Delete</a>
        </td>

        </tr>

        {% endfor%}
      </tbody>
    </table>

  </div>
        <div class="card" id="addCategoryForm">
          <div id="formCategoryHeader" class="card-header">
            Add category
          </div>

          <div class="card-body">
            <form id="categoryForm" >
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" value='' id="categoryName" placeholder="Enter category name">
              
              </div>
              <div class="card-footer">
                <a href="#" id="addCategoryBtn" class="btn btn-primary">Add category</a>
              </div>
            
            </form>
          </div>

        
        </div>
   
  </div>

</div>

</div>
    {% endblock %}