{% extends "__core/index.html" %}
{% block content %}
<div class="container">
   
    <div class="row">
      <div class="col-12">

        <div class="card">
            <div class="card-header">
                <h3 class="text-center">{{category.name}}</h3>
            </div>

            <div class="card-body">
                <table class="table table-image">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Auction Title</th>
                        <th scope="col">Author </th>
                        <th scope="col">Started Price</th>
                        <th class='text-center' scope="col">End at</th>
                      </tr>
                    </thead>
                    <tbody>
        
                        {% for auction in auctions %}
                      
                      <tr>
                      <th scope="row">{{loop.index}}</th>
                        <td class="w-25">
                        <a href="{{path}}auction/{{auction.id}}">
                        <img  style="max-height: 120px;"  class="img-fluid"  src="/schoolproject/assets/img/auction/{{auction.image_path}}" alt="auction image">
                      </a>
                        </td>
                    <td>
                        <a href="{{path}}auction/{{auction.id}} ">{{auction.title }}</a>
                        </td>
                    <td>{{auction.user.firstname}}</td>
                        <td>{{auction.started_price}} $</td>
                    <td>{{auction.end_date}}</td>
                      </tr>
                    
                      {% endfor%}
                    </tbody>
                  </table>   
            </div>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}