@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  padding:0;
  margin:0;
}
#logo {
  height: 80px;
}
.socialIcons {
  text-align: right;
  margin: 10px 0;
}

.socialIcons a {
  font-size: 20px;
  margin-right: 15px;
  text-decoration: none;
}

#content {
  min-height: 70vh;
}
#footer {
  height: 80px;
  text-align: center;
  background-color: black;
  color: white;
}
#footer h5 {
  margin-top: 60px;
  line-height: 80px;
  vertical-align: middle;
}
.category-link {
  text-decoration: none;
}

.category-link:hover {
  text-decoration: none;
}
#logout + form {
  display: none;
}
#carouselExampleIndicators  img {
  height: 40vh;
}