{% extends "__core/index.html" %}


{% block content %}


<div class="row">




 
    <div class="card offset-md-2 col-md-8">


      <div class="card-header">
        <h3 class="text-center ">{{auction.title}}</h3>
      </div>

      <div class="card-body">

      
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">


           {% for key, image in auction.images  %}
        
        <li data-target="#carouselExampleIndicators" data-slide-to="{{key}}"  class= "{{ key == 0 ? 'active' : '' }}" class="active"></li>
          {% endfor %}


        
        </ol>
        <div class="carousel-inner">
          {% for key, image in auction.images  %}
          <div class="carousel-item    {{ key == 0 ? 'active' : '' }}" >
          <img src="{{path}}assets/img/auction/{{image.image_path}}" class="d-block w-100" alt="...">
          </div>
          {% endfor %}



        
        
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


   
   

      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          User
        <span >{{userAuction.firstname}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
         Town
          <span> {{userAuction.town}} </span>
        </li>
      
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Start at:
        <span>{{auction.started_date}}</span>
      </li>


      <li class="list-group-item d-flex justify-content-between align-items-center">
       End at: 
      <span>{{auction.end_date}}</span>
    </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
          Current price: 
    <span id="startedPrice" >{{auction.started_price}} $</span>
    </li>
      </ul>



<p class="card-text p-2">
  {{auction.description}}
</p>
    </div>

      <div class="card-footer">


        {% if(auction.user_id == user.id) %}
      
            <h4>You cannot give offer for your auction! Thank you :)</h4>

     

        {% else%}
        <form class="form-inline" method="POST" action="{{path}}auction/addOffer">
          <div class="form-group">
            <div class="input-group mr-2">
              <input type="number" required name="auctionOffer" placeholder="Typing your offer!" id="auctionOffer">
            <input type="hidden" id="auctionId" value="{{auction.id}}" />
              <div class="input-group-append">
                <button type="button" id="submitOfferBtn" class="btn btn-primary btn-sm">Give offer</button>
              </div>
            </div>
            <small id="passwordHelpInline" class="text-muted">
             The offer must be at least 5$ more than current price!
            </small>
          </div>
        </form>
       
        {% endif%}
      </div>
    </div>



</div>


    {% endblock %}